.page {
  max-width: 480px;
  margin: 0 auto;
  padding: 1rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.back-btn {
  align-self: flex-start;
}

h1 {
  margin: 0;
  font-weight: 500;
}

.presets {
  flex-wrap: wrap;
  justify-content: center;
}

.manual-input {
  display: flex;
  gap: 1rem;

  mat-form-field {
    width: 6.5rem;
  }
}

.btn-start {
  margin-top: 0.5rem;
}
