<div class="countdown" [class.countdown--overtime]="isOvertime()">
  @if (showMascot()) {
    <app-mascot [remainingRatio]="remainingRatio()" />
  }

  <div class="countdown__time">{{ isOvertime() ? '+' : '' }}{{ display() }}</div>

  @if (showControls()) {
    <div class="countdown__controls">
      @if (!running()) {
        <button mat-fab extended color="primary" (click)="start()">
          <span class="material-symbols-rounded">play_arrow</span>
          Démarrer
        </button>
      } @else {
        <button mat-fab extended (click)="pause()">
          <span class="material-symbols-rounded">pause</span>
          Pause
        </button>
      }
      <button mat-stroked-button (click)="reset()">
        <span class="material-symbols-rounded">restart_alt</span>
        Réinitialiser
      </button>
    </div>
  }
</div>
